@font-face {
    font-family: AcuminRegular;
    src: url(fonts/AcuminPro-Regular.otf);
}

@font-face {
    font-family: AcuminItalic;
    src: url(fonts/AcuminPro-Italic.otf);
}

@font-face {
    font-family: AcuminWideBold;
    src: url(fonts/AcuminProWide-Bold.otf);
}

a {
    color: green;
    text-decoration: none;
}

#italic {
    font-family: AcuminItalic;
    margin: 0;
    padding: 0 6px 0 0;
    float: left;
}

#hometext {
    position: absolute;
    width: 70%;
    height: auto;
    font-family: AcuminRegular;
    font-size: 40px;
    z-index: 10;
}

.chat {
    width: 230px;
    height: 430px;
    float: left;
    overflow: hidden;
    overflow-y: scroll;
    border: solid black 1px;
    margin-right: 15px;
}

.chat img {
    width: 230px;
    height: auto;
}

.hoverimages img {
    width: 150px;
    border: solid black 1px;
}

.slidecontainer {
    width: 400px;
}

.slidecontainer img {
    width: 100%;
}

.box1 {
    width: 60%;
}

.box1 img {
    width: 30%;
    margin: 20;
    border: solid black 1px;
}